<footer>
  <small><%= link_to 'Contact List. Todos os diteitos reservados.', root_path %></small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre nós', '#' %>
      </li>
    </ul>
  </nav>
</footer>
